*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto';
    font-weight: 400;
    color: #703412;
    background-color: #FEFBF1;
}

.container {
    max-width: 1075px;
    padding: 0 10px;
    margin: 0 auto;
}

.nav__list {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.nav__list-item {
    font-size: 14px;
    line-height: 21px;
}

.nav__list-item+.nav__list-item {
    margin-left: 40px;
}

.header__title {
    margin-top: 20px;
    margin-bottom: 120px;
    font-weight: 400;
    font-size: 80px;
    max-width: 848px;
}

.header__text {
    font-size: 32px;
    font-weight: 400;
    max-width: 571px;
    margin-bottom: 194px;
}

.main__content-inner-one {
    display: flex;
}

.main__content-inner-two {
    display: flex;
}

.main__content-inner-three {
    display: flex;
}

.main__content-title {
    width: 266px;
}

.content__one,
.content__two {
    margin-bottom: 96px;
}

.content__three,
.content__fourth {
    margin-bottom: 66px;
}

.main__content img {
    margin-left: -27px;
    margin-bottom: -20px;
}

.main__content {
    padding-bottom: 122px;
}